@{
    ViewBag.Title = "About this application";
}

<p>Well this was just a quick demo of EF MVC Database First approach that I decided to do instead of going out to a cold freezing spring of Finland. 
    Visual Studios Scaffold is quite amazing tool to make things happen fast :) 
    If you find anything useful here feel free to use it on your own projects :D 
    </p>

<p>
And by the way, if you really want to make a real database of web radio stations, <a href="http://www.outworldz.com/secondlife/posts/streaming//">go and visit Outworlz great list</a>
Importing them should be a nice little task for this app :D
</p>