@{
    ViewBag.Title = "Contact details";
}


<address>
    Kimmo J. Kallela, Tampere, Finland <br />
    <a href="mailto:kjk@iki.fi" target="_top">Email: kjk@iki.fi</a>
    <br />
    <a href="https://www.linkedin.com/in/kimmo-kallela-3841aa90">LinkedIn</a>

</address>

