@{
    ViewBag.Title = "Web Radio";
}



<div>
    @Html.ActionLink("List of Radio Stations", "Index", "radiostations")<br />
    @Html.ActionLink("List of Categories", "Index", "categories")<br />
    @Html.ActionLink("List of Countries", "Index", "countries")
</div>

