<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Something went wrong</h1>
        @*<h2>Apparently, Windows has found an error on your hard drive and it must to be reformatted right now. You have 30 seconds to cancel this operation. But wait, there is no cancel button at all! Sorry about that, have a nice day</h2>*@
    </hgroup>
</body>
</html>
